body {
    font-family: Verdana, Arial, sans serif;
    font-size: 11px;
    margin: 2px;
      }
table.directions th {
    background-color:#EEEEEE;
}
	  
img {
    color: #000000;
}
	  
#linea_usuario{
	padding-bottom: 4px;
	border-bottom: 1px solid #999999;
}
input.bbutton{
	width:100px;
	height:22px;
	border:white;
	background:#99CC99;
}